<div id="formulaire-recherche">

    <p class="queFaire">QUE FAIRE</p>
    <span class="fa fa-bicycle fa-min fa-cat" title="loisirs"></span><span class="sous-cat"><a href="/liste/?cat=1" title="enfants"><img src="/images/cat-loisir-bebe.jpg" class="img-sous-menu" ></a> <a href="/liste/?cat=0" title="toutes la famille"><img class="img-sous-menu" src="/images/cat-loisir-famille.jpg"></a> <a href="/liste/?cat=2" title="senior"><img class="img-sous-menu" src="/images/cat-loisir-ager.jpg"></a>  </span>
    <i class="fa fa-map-o fa-min fa-cat" title="Plans"></i> <span class="sous-cat-plans">
        <a href="geoloc" title="Me localiser"><div class="img-sous-menu geoloc"><span class="title-cat">Me localiser</span> </div></a>
        <a href="/ville/?loisirpositionLat=48.87987039999999&loisirpositionLng=0.17125290000001314" title="Normandie"><div class="img-sous-menu geoloc"><span class="title-cat">Normandie</span> </div></a>
    </span>
    <i class="fa fa-map-signs fa-min fa-cat" title="circuit. Voyage avec guide"></i> <i class="fa fa-cutlery fa-min fa-cat" aria-hidden="true" title="Restaurant, fast food et epiceries"></i> <i class="fa fa-bed fa-min fa-cat" aria-hidden="true" title="hôtel, gîte et camping"></i> </p>


    <form action="result/0" method="post">

        {{ form_start(loisirForm, { 'attr': {'class': 'form-horizontal'} }) }}

        <span class="custom-dropdown custom-dropdown--white">
            {{ form_label(loisirForm.prix, NULL, { 'label_attr':  {
                'class': 'col-sm-4 control-label none'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.prix) }}
                {{ form_widget(loisirForm.prix, { 'attr':  {
                    'class':'custom-dropdown__select custom-dropdown__select--white'
                }}) }}
            </div>
        </span>

        <span class="custom-dropdown custom-dropdown--white">
            {{ form_label(loisirForm.Distance, NULL, { 'label_attr':  {
                'class': 'col-sm-4 control-label none'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.Distance) }}
                {{ form_widget(loisirForm.Distance, { 'attr':  {
                    'class':'custom-dropdown__select custom-dropdown__select--white'
                }}) }}
            </div>
        </span>

        <i class="fa fa-map-marker fa-min ico-recherche" title="Loisirs"></i>
        {{ form_label(loisirForm.position, NULL, { 'label_attr':  {
            'class': 'col-sm-4 control-label none'
        }}) }}
        {{ form_errors(loisirForm.position) }}
        {{ form_widget(loisirForm.position, { 'attr':  {
            'class':'custom-dropdown__select custom-dropdown__select--white',
        }}) }}

        <!-- Ville de départ pour position du curseur --><span  id="position"></span>

        <i id="date-open" class="fa fa-calendar recherche-mobile icone-date" aria-hidden="true" onclick="menuOpen.openDate()"></i>

        <span id="outils-recherche">
            <i class="fa fa-calendar fa-min ico-recherche" aria-hidden="true"></i>

            {{ form_label(loisirForm.dateDebut, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label none'
            }}) }}
                {{ form_errors(loisirForm.dateDebut) }}
                {{ form_widget(loisirForm.dateDebut, { 'attr':  {

                    'value': '12, 31, 2017',
                    'id': 'datepicker'
                }}) }}
            <i class="fa fa-calendar fa-min ico-recherche" aria-hidden="true"></i>

            {{ form_label(loisirForm.dateFin, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label none'
            }}) }}
                {{ form_errors(loisirForm.dateFin) }}
                {{ form_widget(loisirForm.dateFin, { 'attr':  {

                    'value': '12, 31, 2030',
                    'id': 'to'
                }}) }}
        </span>

        <input id="pac-input" class="recherche" type="submit" value="Chercher">
    </form>
</div>
