<div id="formulaire-recherche">

    <p class="queFaire">Que faire</p>
    <span class="fa fa-bicycle fa-min fa-cat" title="loisirs"></span>
    <span class="sous-cat">
        <a href="/liste/?cat=1" title="enfants"><span class="img-sous-menu-enfants age">Enfant</span></a>
        <a href="/liste/?cat=0" title="toutes la famille"><span class="img-sous-menu-famille age">Toutes la famille</span></a>
        <a href="/liste/?cat=2" title="senior"><span class="img-sous-menu-senior age">Senior</span></a>
    </span>
    <i class="fa fa-map-o fa-min fa-cat" title="Plans"></i> <span class="sous-cat-plans">
        <a href="geoloc" title="Me localiser"><span class="img-sous-menu geoloc title-cat">Me localiser</span></a>
        <a href="/ville/?loisirpositionLat=48.87987039999999&loisirpositionLng=0.17125290000001314" title="Normandie"><span class="img-sous-menu normandie title-cat">Normandie</span></a>
    </span>
    <i class="fa fa-map-signs fa-min fa-cat" title="circuit. Voyage avec guide"></i> <i class="fa fa-cutlery fa-min fa-cat" aria-hidden="true" title="Restaurant, fast food et epiceries"></i> <i class="fa fa-bed fa-min fa-cat" aria-hidden="true" title="hôtel, gîte et camping"></i>


    <form action="result/0" method="post">
        <span class="custom-dropdown custom-dropdown--white">
            {{ form_label(loisirForm.prix, NULL, { 'label_attr':  {
                'class': 'col-sm-4 control-label none'
            }}) }}
            <span class="col-sm-6">
                {{ form_errors(loisirForm.prix) }}
                {{ form_widget(loisirForm.prix, { 'attr':  {
                    'class':'custom-dropdown__select custom-dropdown__select--white'
                }}) }}
            </span>
        </span>

        <span class="custom-dropdown custom-dropdown--white">
            {{ form_label(loisirForm.Distance, NULL, { 'label_attr':  {
                'class': 'col-sm-4 control-label none'
            }}) }}
            <span class="col-sm-6">
                {{ form_errors(loisirForm.Distance) }}
                {{ form_widget(loisirForm.Distance, { 'attr':  {
                    'class':'custom-dropdown__select custom-dropdown__select--white',
                }}) }}
            </span>
        </span>

        <i class="fa fa-map-marker fa-min ico-recherche" title="Loisirs"></i>
        {{ form_label(loisirForm.position, NULL, { 'label_attr':  {
            'class': 'col-sm-4 control-label none'
        }}) }}
        {{ form_errors(loisirForm.position) }}
        {{ form_widget(loisirForm.position, { 'attr':  {
            'class':'',
            'value':'Adresse de départ',
            'required':'False',
        }}) }}

        <span  id="position"></span>

        <i id="date-open" class="fa fa-calendar recherche-mobile icone-date" aria-hidden="true" onclick="menuOpen.openDate()"></i>

        <span id="outils-recherche">
            <i class="fa fa-calendar fa-min ico-recherche" aria-hidden="true"></i>

            {{ form_label(loisirForm.dateDebut, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label none'
            }}) }}
                {{ form_errors(loisirForm.dateDebut) }}
                {{ form_widget(loisirForm.dateDebut, { 'attr':  {

                    'value': '12, 31, 2017',

                }}) }}
            <i class="fa fa-calendar fa-min ico-recherche" aria-hidden="true"></i>

            {{ form_label(loisirForm.dateFin, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label none'
            }}) }}
                {{ form_errors(loisirForm.dateFin) }}
                {{ form_widget(loisirForm.dateFin, { 'attr':  {

                    'value': '12, 31, 2030',

                }}) }}
        </span>

        <input id="pac-input" class="recherche" type="submit" value="Chercher">
    </form>
</div>
