{% extends "/layout.html.twig" %}


{% block content %}
    {{ include('frontend/_slide.html.twig') }}
    {% for loisir in loisirs %}

        <div class="liste-main shadow-none">
            <a class="articleTitle"
               href="{{ path('sejours/', { 'id': loisir.id }) }}?positionL={{ loisir.position|replace({",": "&positionN=", '%that%':80}) }}">
                <img class="liste-main" src="{{ loisir.image }}">
                <h2><a class="loisirTitle" href="{{ path('sejours/', { 'id': loisir.id }) }}">{{ loisir.title }}</a>
                    <span class="type">{{ loisir.type|upper }}</span></h2>
                <p>{{ loisir.content[:178] }}... </p>
                <div class="display">
                    <P class="fa-min"><i class="fa fa-map-marker fa-min" aria-hidden="true"></i> {{ loisir.position }}
                    </P>
                    <P class="prix">{{ loisir.prix|replace({0: "GRATUIT"}) }}</P>
                </div>
                <a href="{{ path('sejours/', { 'id': loisir.id }) }}?positionL={{ loisir.position|replace({",": "&positionN=", '%that%':80}) }}">
                    <p class="reserver">Plus d'info</p></a>
            </a>
        </div>

    {% endfor %}

    {% set page, pageSuivant = 6, 12 %}
    <a href="?page={{ page }}&pageSuivant={{ pageSuivant }}&#main" class="suivant">Page suivante >> </a>

    </div>
    <div class="liste-resultat">
        <img class="promo-acceuil" src="{{ loisir.image }}">
        <P>{{ loisir.title }}</P>
        <P>{{ loisir.content }}</P>
        <P class="fa-min"><i class="fa fa-map-marker fa-min" aria-hidden="true"></i> Voir sur le plans</P>
        <P class="prix">{{ loisir.prix|replace({0: "GRATUIT"}) }}</P>
    </div>


    <div id="map"></div>


    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <script src="http://localhost/parcour-5/web/js/ajax.js"></script>
    <script src="http://localhost/parcour-5/web/js/geocode.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLCyZdCatCyO348_1vXQr4yEQkDheyQ3A&libraries=places&callback=initAutocomplete&"
            async defer></script>

    <script src="http://localhost/parcour-5/web/js/menuIndex.js"></script>

    <script src="http://localhost/parcour-5/web/js/slide.js"></script>
{% endblock %}
