{% extends "/views/layout.html.twig" %}

{% block content %}
    {% set resultNB = 0 %}

    {% for loisirs in loisir %}
        <p id="{{ loisirs.title }}" class="margin-result">.</p>
        <div class="liste-resultat">

            <a class="articleTitle" href="{{ path('sejours/', { 'id': loisirs.id }) }}?positionL={{ loisirs.positionLat }}&positionN={{ loisirs.positionLng }}">
                <img class="promo-acceuil" src="/images/{{ loisirs.image }}">
            </a>

            <div class="result-text"><h2>{{ loisirs.title }}</h2>
                <p>{{ loisirs.content }}</P></div>
            <p>Distance {{ loisirs.distance[:2] }} Kms</p>
            <span class="articleTitle">
                <a href="{{ path('sejours/', { 'id': loisirs.id }) }}?positionL={{ loisirs.positionLat }}&positionN={{ loisirs.positionLng }}#map"><P class="fa-min"><i class="fa fa-map-marker fa-min" aria-hidden="true">Plans</i> </P></a>

                {% if loisirs.prix == 0 %}
                    <span><A class="prix" href="{{ path('sejours/', { 'id': loisirs.id }) }}?positionL={{ loisirs.positionLat }}&positionN={{ loisirs.positionLng }}">En savoir plus</a></span>
                {% else %}
                    <span><A class="prix" href="{{ path('sejours/', { 'id': loisirs.id }) }}?positionL={{ loisirs.positionLat }}&positionN={{ loisirs.positionLng }}">{{ loisirs.prix }} €</a></span>
                {% endif %}

            </span>
        </div>
        {% set resultNB = resultNB + 1 %}
    {% endfor %}

    {% if resultNB == 0 %}
        <div class="liste-resultat">
            <h2>Désolé nous n'avons trouvé aucun résultat. Mais l'administrateur a été prévenu afin que d'autre loisirs
                soit ajouté</h2>
        </div>
    {% else %}Nous avons trouvé {{ resultNB }} activités.
    {% endif %}


    <div id="mapInfo">
        <div id="map"></div>
        <div id="infoLoisirs">essai</div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- script qui appel la map -->

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="/js/ajax.js"></script>
    <script src="/js/map-result.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCLCyZdCatCyO348_1vXQr4yEQkDheyQ3A&callback=result"></script>


    <script src="/js/menu.js"></script>
{% endblock %}
