{% extends "/views/layout.html.twig" %}

{% block meta %}
    <title>{{ loisir.title }}</title>
    <meta name="description" content="{{ loisir.content }}"/>
{% endblock %}

{% block content %}

    <div class="title-show">

        <div>
            <h2>{{ loisir.title }}</h2>
            <!-- Button trigger modal -->
            <button type="button" data-toggle="modal" data-target="#exampleModal">
                <img class="liste-main-unique" src="/web/images/{{ loisir.image }}" alt="{{ loisir.title }}">
            </button>
        </div>

        <div class="info-unique">
            <p>
                NOTE :
                {% for commentNote in commentsNote %}
                {{ commentNote.moyenne|round(2, 'floor') }}
            {% else %}
                Soyez le premier a noté ce lieu
                {% endfor %}/10
            </p>
            <p>{{ loisir.content }}</p>
            <p class="adress">Adresse: <br/>{{ loisir.position }}</p>
            <p><a href="#map" class="prix-unique"> Voire sur le plans </a></p>
            {% if loisir.prix == 0 %}
            {% else %}
                <p class="prix-unique"> Prix {{ loisir.prix }} €</p>
            {% endif %}
            <p><A href="{{ loisir.lien }}" class="prix-unique"> Lien du site</a></p>
            <div class="fb-like" data-href="https://www.cadito.fr/" data-layout="box_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
        </div>

    </div>


    <div class="text-show">
        <h3>Commentaires</h3>
        {% for comment in comments %}
            <hr>
            Note {{ comment.note }} <strong> Anonyme </strong> : {{ comment.content }} <a href="/comment/{{ comment.id }}/signale/{{ comment.hobbies }}"> : Signaler le commentaire</a><br>

        {% else %}
            Aucun commentaire trouvez.
        {% endfor %}


        <h3>Ajouter un commentaire</h3>

        {{ form_start(commentForm) }}
        <div class="form-group">
            {{ form_label(commentForm.note, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label col-sm-4-note'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(commentForm.note) }}
                {{ form_widget(commentForm.note, { 'attr':  {
                    'class': 'checkbox'
                }}) }}
            </div>
            {{ form_errors(commentForm.content) }}
            {{ form_widget(commentForm.content, { 'attr':  {
                'rows': '4',
                'class': 'form-control',
                'placeholder': 'Entrer votre commentaire'
            }}) }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Publier"/>
        </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>



    <!-- Modal pour agrandir l'image -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ loisir.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="/images/{{ loisir.image }}" alt="{{ loisir.title }}" class="modla-img">
                </div>
            </div>
        </div>
    </div>
    <div id="map"></div>

    <div id="fb-root"></div>

    <!-- script qui appel la map -->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCLCyZdCatCyO348_1vXQr4yEQkDheyQ3A&callback=initMap"></script>
    <script src="/web/js/ajax.js"></script>
    <script src="/web/js/map-unique.js"></script>
    <script src="/web/js/menu.js"></script>
{% endblock %}
