{% extends '/layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}



    <div class="well">

        {{ form_start(loisirForm, { 'attr': {'class': 'form-horizontal'} }) }}

        <!-- restreindre l'accéer au autre utilisateur -->
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                {{ form_label(loisirForm.etat, null, { 'label_attr':  {
                    'class': 'col-sm-4 control-label'
                }}) }}
                <div class="col-sm-6">
                    {{ form_errors(loisirForm.etat) }}
                    {{ form_widget(loisirForm.etat, { 'attr':  {
                        'class': 'checkbox'
                    }}) }}
                </div>
            </div>
        {% endif %}

        <div class="form-group">
            {{ form_label(loisirForm.categorie, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.categorie) }}
                {{ form_widget(loisirForm.categorie, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(loisirForm.title, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.title) }}
                {{ form_widget(loisirForm.title, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(loisirForm.position, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.position) }}
                {{ form_widget(loisirForm.position, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <span  id="position"></span>
        <div class="form-group">
            {{ form_label(loisirForm.image, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.image) }}
                {{ form_widget(loisirForm.image, { 'attr':  {
                    'class': 'btn btn-primary'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(loisirForm.imageModif, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.imageModif) }}
                {{ form_widget(loisirForm.imageModif, { 'attr':  {
                    'class': 'btn btn-primary'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(loisirForm.lien, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.lien) }}
                {{ form_widget(loisirForm.lien, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(loisirForm.dateDebut, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.dateDebut) }}
                {{ form_widget(loisirForm.dateDebut, { 'attr':  {
                    'class': 'form-control',
                    'value': '12, 31, 2017',
                    'id': 'datepicker'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(loisirForm.dateFin, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.dateFin) }}
                {{ form_widget(loisirForm.dateFin, { 'attr':  {
                    'class': 'form-control',
                    'value': '12, 31, 2030',
                    'id': 'to'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(loisirForm.content, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
            }}) }}
            <div class="col-sm-6">
                {{ form_errors(loisirForm.content) }}
                {{ form_widget(loisirForm.content, { 'attr':  {
                    'class': 'form-control',
                    'rows': '8'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" id="pac-input" class="btn btn-primary" value="Save"/>
            </div>
        </div>
    </div>
    <div id="map"></div>
{% endif %}

    <script src="http://localhost/parcour-5/web/js/ajax.js"></script>
    <script src="http://localhost/parcour-5/web/js/geocode.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLCyZdCatCyO348_1vXQr4yEQkDheyQ3A&libraries=places&callback=initAutocomplete&"
            async defer></script>
{% endblock %}
